{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Create Advertisement</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
</head>
<body>

{% block main %}
    <div class="main">
        <div class="create-advertisement">

            <h1>Создание объявления</h1>


            <form class="create-post" method="post" enctype="multipart/form-data"
                  action="{% url 'users:create_post' %}">
                {% csrf_token %}
                <label for="brand">Бренд:</label>
                <select style="color:black" id="brand" name="brand">
                    <option value="">Выберите бренд</option>

                </select>
                <br>
                <label for="model">Модель:</label>
                <select id="model" name="model">
                    <option value="">Выберите модель</option>

                </select>

                <label for="generations">Поколение:</label>
                <select id="generations" name="generations">
                    <option value="">Выберите поколение</option>

                </select>

                <div class="advertisement-field">
                    <label for="release_year">Год выпуска:</label>
                    <input type="number" id="release_year" name="release_year" required>
                </div>

                <div class="advertisement-field">
                    <label for="color">Цвет:</label>
                    <input type="text" id="color" name="color" required>
                </div>

                <div class="advertisement-field">
                    <label for="mileage">Пробег (в км):</label>
                    <input type="number" id="mileage" name="mileage" required>
                </div>

                <div class="advertisement-field">
                    <label for="description">Описание:</label>
                    <textarea id="description" name="description" required></textarea>
                </div>

                <div class="advertisement-field">
                    <label for="price">Цена (в долларах):</label>
                    <input type="number" id="price" name="price" required>
                </div>

                <div class="advertisement-field">
                    <label for="photos">Фото, которые будут отображены в объявлении (Первое фото будет главным):</label>
                    <input type="file" id="photos" name="photos" multiple required>
                </div>

                <div class="advertisement-field">
                    <input type="submit" value="Создать">
                </div>


            </form>

            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

            <script>
                $(document).ready(function () {
                    $.ajax({
                        url: '{% url "users:get_car_brands" %}',
                        dataType: 'json',
                        success: function (data) {
                            var brandSelect = $('#brand');
                            brandSelect.empty();
                            {#console.log(data.brands)#}
                            brandSelect.append($('<option>', {
                                text: 'Выберите бренд',
                                disabled: true,
                                selected: true
                            }));
                            for (var i = 0; i < data.brands.length; i++) {
                                brandSelect.append($('<option>', {
                                    value: data.brands[i].id,
                                    text: data.brands[i].name
                                }));
                            }
                        }
                    });

                    $('#brand').on('change', function () {
                        var selectedBrand = $(this).val();


                        var url = '{% url "users:get_models" %}';
                        $.ajax({
                            url: url,
                            data: {
                                'brand_id': selectedBrand
                            },
                            dataType: 'json',
                            success: function (data) {
                                var modelSelect = $('#model');
                                modelSelect.empty();
                                modelSelect.append($('<option>', {
                                    text: 'Выберите модель',
                                    disabled: true,
                                    selected: true
                                }));
                                for (var i = 0; i < data.models.length; i++) {
                                    modelSelect.append($('<option>', {
                                        value: data.models[i].id,
                                        text: data.models[i].name
                                    }));
                                }
                            }
                        });
                    });
                    $('#model').on('change', function () {
                        var selectedModel = $(this).val();
                        console.log(selectedModel);

                        var url = '{% url "users:get_generations" %}';
                        $.ajax({
                            url: url,
                            data: {
                                'model_id': selectedModel
                            },
                            dataType: 'json',
                            success: function (data) {
                                var generations = $('#generations');
                                console.log(data, 'data');
                                generations.empty();
                                generations.append($('<option>', {
                                    text: 'Выберите поколение',
                                    disabled: true,
                                    selected: true
                                }));
                                for (var i = 0; i < data.generations.length; i++) {
                                    console.log(data.generations[i], 'iii')
                                    generations.append($('<option>', {
                                        value: data.generations[i].id,
                                        text: data.generations[i].name
                                    }));
                                }

                            }
                        });
                    });
                });
            </script>


        </div>
    </div>
{% endblock %}

</body>
</html>
