{% extends 'base.html' %}

{% block main %}
    <div class="main">
        <div class="create-advertisement">

            {#    <div class="edit-advertisement">#}
            <h1>Редактировать объявление</h1>
            <form method="post" enctype="multipart/form-data" class="edit-post-form">
                {% csrf_token %}

                <div class="advertisement-field">
                    <label for="release_year">Год выпуска:</label>
                    {{ form.release_year }}
                </div>

                <div class="advertisement-field">
                    <label for="mileage">Пробег (в км):</label>
                    {{ form.mileage }}
                </div>

                <div class="advertisement-field">
                    <label for="color">Цвет:</label>
                    {{ form.color }}
                </div>

                <div class="advertisement-field">
                    <label for="description">Описание:</label>
                    {{ form.description }}
                </div>

                <div class="advertisement-field">
                    <label for="price">Цена (в долларах):</label>
                    {{ form.price }}
                </div>
                <div class="advertisement-field">
                    <label for="photos">Добавить новые фото:</label>
                    <input type="file" id="photos" name="photos" multiple>
                </div>

                <div class="advertisement-field">
                    <label>Загруженные Фотографии:</label>
                    {% for image in form.instance.image_set.all %}
                        <div class="image-container">
                            {#                            <div class="image-frame">#}
                            <img src="{{ image.images.url }}" alt="Car Photo" class="car-photo">
                            {#                            </div>#}
                            <div class="delete-button">
                                <a href="{% url 'users:delete_photo' image.id %}">Удалить</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <button type="submit" class="edit-advertisement">Сохранить изменения</button>


            </form>
        </div>
    </div>
    {#            </div>#}
{% endblock %}
