{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <meta http-equiv="Content-Type">
</head>

<body>

{% block main %}
    <div class="main">
        <div class="user-profile">
            <h1>User Profile</h1>
            <div class="user-info">
                <h2>Имя пользователя: {{ form.username }}</h2>
                <h2>Имя: {{ form.first_name }}</h2>
                <h2>Почта: {{ form.email }}</h2>
                <h2>Телефон: {{ form.phone_number }}</h2>
            </div>


            <div class="user-advertisements">
                <h2>Ваши объявления:</h2>
                {% for adv in advertisements %}
                    <div class="advertisement">
                        <h3>{{ adv.brand }} {{ adv.model }}</h3>
                        <p>{{ adv.price }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
</body>
</html>
