{% extends 'base.html' %}
{% load static %}
{% block main %}
    <main>
        <div class="sideBar">
            {#            <div class="sideBar_section">#}
            {#                <div class="sideBar_item"><a href="#">Моя страница</a></div>#}
            {#                <div class="sideBar_item"><a href="#">Друзья</a></div>#}
            {#                <div class="sideBar_item"><a href="#">Ответы</a></div>#}
            {#                <div class="sideBar_item"><a href="#">Группы</a></div>#}
            {#                <div class="sideBar_item"><a href="#">Фото</a></div>#}
            {#                <div class="sideBar_item"><a href="#">Музыка</a></div>#}
            {#                <div class="sideBar_item"><a href="#">Игры</a></div>#}
            {##}
            {#            </div>#}
            {#            <div class="sideBar_section">#}
            {#                <div class="sideBar_item"><a href="#">Дни рождения</a></div>#}
            {#                <div class="sideBar_item"><a href="#">Уведомления</a></div>#}
        </div>
        </div>

        <div class="container">
            <div class="cards">
                {% for car in data %}

                    <a href="{% url 'advertisements:article' car.0.id %}" class="card">
                    <span class="card-header"
                          style="background-image: url({{ car.1.images.url }})">
                            <span class="card-title">
                                <h3>{{ car.0.brand }} {{ car.0.model }}</h3>
                            </span>
                        </span>

                        <span class="card-summary">
                            {{ car.0.price }}
                        </span>
                        <span class="card-meta">
                            Опубликовано: {{ car.0.created_timestamp }}
                        </span>
                    </a>
                {% endfor %}
                <a href="#" class="card">
                        <span class="card-header"
                              style="background-image: url(https://riadvance.s3mts.ru/images/items/db9/bf265a4f1/b79425895c81.jpg)">
                            <span class="card-title">
                                <h3>Post Title</h3>
                            </span>
                        </span>
                    <span class="card-summary">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem optio reiciendis esse, eveniet dicta incidunt.

                        </span>
                    <span class="card-meta">
                            Publish: June 26th, 2017
                        </span>
                </a>

                <a href="#" class="card">
                        <span class="card-header"
                              style="background-image: url(https://storage.yandexcloud.net/cdn.bips.ru/uploads/toyota/corolla/15419/U0tg1sfY.jpg)">
                            <span class="card-title">
                                <h3>Post Title</h3>
                            </span>
                        </span>
                    <span class="card-summary">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem optio reiciendis esse, eveniet dicta incidunt.
                        </span>
                    <span class="card-meta">
                            Publish: June 26th, 2017
                        </span>
                </a>
                <a href="#" class="card">
                        <span class="card-header"
                              style="background-image: url(https://riadvance.s3mts.ru/images/items/db9/bf265a4f1/b79425895c81.jpg)">
                            <span class="card-title">
                                <h3>Post Title</h3>
                            </span>
                        </span>
                    <span class="card-summary">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem optio reiciendis esse, eveniet dicta incidunt.
                        </span>
                    <span class="card-meta">
                            Publish: June 26th, 2017
                        </span>
                </a>
                <a href="#" class="card">
                        <span class="card-header"
                              style="background-image: url(https://avatars.mds.yandex.net/get-autoru-vos/2175019/722ba622e3dc9a8460ba5c866e4cd255/1200x900)">
                            <span class="card-title">
                                <h3>Post Title</h3>
                            </span>
                        </span>
                    <span class="card-summary">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem optio reiciendis esse, eveniet dicta incidunt.
                        </span>
                    <span class="card-meta">
                            Publish: June 26th, 2017
                        </span>
                </a>


            </div>
        </div>

    </main>
{% endblock %}
</body>

</html>