{% extends 'base.html' %}
{% load static %}
{% block main %}
    <main>

        <div class="container">
            <div class="cards">
                {% for car in data %}

                    <a href="{% url 'advertisements:article' car.0.id %}" class="card">
                    <span class="card-header"
                          style="background-image: url({{ car.1.images.url }})">
                            <span class="card-title">
                                <h3>{{ car.0.brand }} {{ car.0.model }} {{ car.0.generation }}</h3>
                            </span>
                        </span>

                        <span class="card-summary">
                            {{ car.0.price }} $
                        </span>
                        <span class="card-meta">
                            Опубликовано: {{ car.0.created_timestamp }}
                        </span>
                    </a>
                {% endfor %}


            </div>
        </div>

    </main>
{% endblock %}
</body>

</html>