{% extends 'base.html' %}
{% load static %}

{% block main %}
    <div class="car-details-container">
        <div class="car-image">
            <img src="https://a.d-cd.net/wyAAAgAV2uA-1920.jpg" alt="Car">
        </div>
        <div class="car-details">
            <div class="car-info">
                <h2>Название Машины</h2>
                <p class="car-price">Цена: $10,000</p>
                <h3>Описание:</h3>
                <p class="car-description">
                    Выпуск 11.2018 , начало эксплуатации 2019. В идеальном состоянии. Оригинальный пробег 116000 км
                    Машина без вложений. Из США. Вся целая заводская безопастность . Есть окрас двух дверей.

                    7 мест

                    Pilot Assist

                    Мертвые зоны

                    Предупреждения столкновений с автоматическим экстренным торможением (City Safety )

                    Активное подруливание

                    Удержание в полосе

                    Адаптивный круиз-контроль

                    Панорама

                    Бесключевой доступ

                    Память сидений

                    Контроль усталости

                    Распознавание дорожных знаков

                    Заводская тонировка

                    Электронный багажник

                    Камера заднего вида

                    Фары Full Led с авто дальним

                    Противотуманные фары Led

                    Освещение поворотов

                    Открытие багажника без рук

                    Климат 4-х зонный

                    Подогревы сидений перед/зад

                    Подогрев руля

                    Полный привод

                    Парктроники

                    Датчик света/дождя

                    Заводская тонировка as3
                </p>
            </div>
            {% if user.is_authenticated %}
                <div class="seller-info">
                    <h3>Контактная информация продавца:</h3>
                    <p>Продавец: Имя Продавца</p>
                    <p>Email: example@example.com</p>
                    <p>Телефон: +123456789</p>
                </div>



            {% else %}
                <h3><a style='color: blue' href="{% url 'users:login' %} ">Авторизуйтесь, чтобы увидеть контактные
                    данные </a></h3>


            {% endif %}
        </div>
    </div>
{% endblock %}