{% extends 'base.html' %}
{% load static %}

{% block main %}
    <main>
        <div class="center-container">
            <img src="https://sun6-22.userapi.com/s/v1/ig2/csXvVieHknU0E1Y415Rv-NRH8Ot9RJSdmIHgXSicAr9G78sgC6YuszrHtFYDDHPKQotKZCTR07D6AjjSb6lrn1Zt.jpg?size=1280x1280&quality=96&crop=0,0,1280,1280&ava=1"
                 alt="Логотип" class="logo">
            <div class="start-button">
                <a href="{% url 'advertisements:cars' %}">Начать подбор машины</a>
            </div>
        </div>
    </main>
{% endblock %}
</body>
</html>
