
html {
    /*font-family: 'Lobster', cursive;*/
}

a {
    color: white;
    text-decoration: none;
}

* {
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: #689CD2;
    color: white;
    font-family: Helvetica;
}

.header_section {
    display: flex;
    align-items: center;
}

.header_item {
    padding: 10px 15px;
    font-size: 20px;
    margin-left: 10px;
}

.header_item:hover {
    background-color: #25507e;
    border-radius: 4px;
}

.headerlogo {
    font-weight: bold;
}

.headerButton {
    cursor: pointer;
}

.sideBar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*height: ;*/
    width: 200px;
    border-right: 1px solid #D7DBDD;
    background: #FCFDFD;
    padding: 10px;
}

.sideBar a {
    color: #689CD2;
}

.sideBar_item {
    cursor: pointer;
    padding: 8px 10px;
    font-size: 18px;
}

.sideBar_item:hover {
    background-color: #EEF3F5;
    border-radius: 4px;

}

main {
    display: flex;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html {
    background: #f5f1f1;
    height: 100%;
}

h1 {
    text-align: center;
    color: #fff;
    margin-bottom: 15px;
}

.wrap {
    display: flex;
    align-items: stretch;
    width: 90%;
    margin: auto;
    flex-direction: column;

}

button {
    width: 30px;
    border: none;
    background: transparent;
    color: #fff;
    font-size: 40px;
    text-align: center;
    outline: none;
    opacity: 0.5;
    transition: opacity 300ms ease-out;

}

button:hover {
    opacity: 1;
}

.slider {
    display: flex;
    flex-direction: row;
}

.scroller {
    flex: 1;
    overflow: hidden;

}

.items {
    list-style-type: none;
    white-space: nowrap;
    transition: transform 1s ease-out;
}

.item {
    padding: 30px 20px;
    display: inline-block;
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: 50% 50%;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);


}

img {
    max-width: 100%;
}

body {
    font-size: 17px;
    line-height: 1.4;
}

* {
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 15px;
    padding: 1.5%;
    box-sizing: border-box;
}

.card {
    width: 35%;
    min-width: 300px;
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 30px;
    background: #fefff9;
    color: #363636;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.19) 0 0 8px 0;
    border-radius: 4px;
}

@media (max-width: 600px) {
    .card {
        width: 100%;
    }
}

@media (min-width: 700px) {
    .card {
        max-width: 320px;
        margin-right: 20px;
        margin-bottom: 20px;
    }
}

.card span {
    display: block;
}

.card .card-summary {
    padding: 5% 5% 3% 5%;
}

.card .card-header {
    position: relative;
    height: 175px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.15);
    background-blend-mode: overlay;
    border-radius: 4px 4px 0 0;
}

.card .card-header:hover, .card .card-header:focus {
    background-color: rgba(255, 255, 255, 0);
}

.card .card-title {
    background: rgba(104, 156, 210, 0.85);
    padding: 3.5% 0 2.5% 0;
    color: white;
    text-transform: uppercase;
}

.card .card-title h3 {
    font-size: 1.2em;
    line-height: 1.2;
    padding: 0 3.5%;
    margin: 0;
}

.card .card-meta {
    max-height: 0;
    overflow: hidden;
    color: #666;
    font-size: .78em;
    text-transform: uppercase;
    position: absolute;
    bottom: 5%;
    padding: 0 5%;
    transition-property: max-height;
    transition-duration: 0.8s;
    transition-timing-function: ease-in-out;
}

.card:hover .card-meta {
    max-height: 100px;
}


.card:hover, .card:focus {
    background: white;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 20px 0px;
}

.card:hover .card-title, .card:focus .card-title {
    background: rgba(104, 156, 210, 0.95);

}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 auto;
}

h2 {
    text-align: center
}

form {
    flex-basis: 70vh;
    padding: 2em;
    background: #fff;
    box-shadow: 0 0 2em rgba(0, 0, 0, 0.2);
    border-radius: 0.25em;
}

input {
    padding: 0.5em;
    font-size: 0.875em;
    background: #f4f4f4;
    border: 1px solid #ccc;
}

input:focus {
    background: #fff;
    box-shadow: inset 0.1em 0.1em 0.25em rgba(0, 0, 0, 0.2);
    outline: 0;
}

.form-field {
    margin-bottom: 1em;
    display: flex;
}

.form-field label {
    flex: 0 1 4em;
    padding: 1em;
    background: #fff;
    border: 1px solid #ccc;
    font-size: 0.75em;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    line-height: 1;
    border-radius: 0 0.25em 0 0.25em;
}

.form-field input {
    flex-grow: 1;
}

.input-right input, .multi-input input:last-child {
    border-radius: 0 0.25em 0.25em 0;
}

.submit-field {
    flex-direction: row;
    justify-content: center;
}

input[type="submit"] {
    flex: 0 1 40%;
    padding: 0.83em;
    font-size: 1.2rem;
    text-shadow: 0 1px 0 #fff;
    background: #689CD2;
    border-radius: 0.25em;
    border: 0;
    transition: 0.3s;
    cursor: pointer;
}

input[type="submit"]:hover {
    color: #fff;
}


.center-container {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    max-width: 200px;
    height: auto;
}

.start-button {
    margin-top: 15px;
    text-align: center;
}

.start-button a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #689CD2;
    color: white;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.start-button a:hover {
    background-color: #25507e;
}

.user-profile {
    background: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

.user-info h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
}

.user-advertisements {
    margin-top: 20px;
}

.advertisement {
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin: 10px 0;
}

.advertisement h3 {
    font-size: 18px;
    color: #333;
    margin: 0;
}

.advertisement p {
    font-size: 16px;
    color: #666;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #689CD2;
    color: white;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    transition: background-color 0.3s;
    border: none;
    cursor: pointer;
}


.button:hover {
    background-color: #25507e;
}

.car-details-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 auto;
}

.car-details {
    /*display: flex;*/
    /*text-align: center;*/
    max-width: 65%;
    background: #fff;
    box-shadow: 0 0 2em rgba(0, 0, 0, 0.2);
    border-radius: 0.25em;
    padding: 1em;
    margin-top: 1em;
}

.car-info {
    flex-grow: 1;
    padding: 1em;
}

h2 {
    font-size: 1.5em;
}

.car-price {
    font-size: 1.2em;
    color: #689CD2;
}

h3 {
    font-size: 1.2em;
    margin-top: 1em;
}

.car-description {
    font-size: 1em;
    max-width: 80%;
    overflow-wrap: break-word;
    overflow-y: auto;
    max-height: 200px;
}

.seller-info {
    text-align: center;
    margin-left: 40%;
    font-size: 1em;
    max-width: 20%;
}

.seller-info p {
    margin: 0.5em 0;
}

.car-image {
    /*display: flex;*/
    /*flex-direction: row;*/
    /*max-width: 40%;*/
    /*overflow: hidden;*/
    /*display: flex;*/
    margin-top: 100px;
    flex-wrap: wrap;
    max-width: 50%;
    text-align: center;
}

.car-image img {
    /*max-width: 100%;*/
    /*max-height: 100%;*/
    /*height: auto;*/
    width: 150px;
    height: 112px;
    margin-right: 10px;

}


#zoom-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
    text-align: center;
}

#zoomed-image {
    display: block;
    max-width: 90%;
    max-height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

#zoomed-image:hover {
    filter: brightness(0.9);
}


.create-advertisement {
    background: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 120px auto auto auto;
    width: 50%;
}

.create-advertisement h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.advertisement-field {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.advertisement-field label {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
}

.advertisement-field input,
.advertisement-field textarea {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.advertisement-field input[type="number"] {
    width: 100%;
}

.advertisement-field textarea {
    min-height: 150px;
}

.advertisement-field input[type="file"] {
    padding: 0;
}

.advertisement-field input[type="submit"] {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #689CD2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.advertisement-field input[type="submit"]:hover {
    background-color: #25507e;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.profile_create_adv_button {
    padding: 10px 10px;
    background-color: #689CD2;
    color: white;
    text-decoration: none;
    font-size: 25px;
    border-radius: 5px;
    transition: background-color 0.3s;
    border: none;
    cursor: pointer;
}

.profile_create_adv_button:hover {
    background-color: #25507e;
}

.advertisement {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px 0;
}

.change-button {
    background-color: #689CD2;
    margin-left: 10px;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.advertisement h3, .advertisement p {
    text-align: center;
    margin: 0;
}


/*sidebar*/
.filter-input {
    display: block;
    width: 100px;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.filter-button {
    color: blue;
    font-size: 18px;
    display: block;
    width: 60px;
    margin-bottom: 10px;
}


/* Стили для формы в sidebar */
.sidebar-form {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px 0;
}

.sidebar-form label {
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
    display: block;
}

.sidebar-form input[type="text"],
.sidebar-form input[type="number"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 10px;
}

.sidebar-form input[type="submit"] {
    padding: 10px 20px;
    background-color: #689CD2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.sidebar-form input[type="submit"]:hover {
    background-color: #25507e;
}


#brand {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 10px;
    background-color: #fff;
}

#model {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 10px;
    background-color: #fff;
}

/* Стилизация для опций в выпадающем списке */
#brand option, #model option, #generation option {
    font-size: 16px;
}

#generations {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 10px;
    background-color: #fff;
}

.center-img {
    justify-content: center;
    margin: auto;
    text-align: center;
    padding: 20px 0;
}

.logo {
    max-width: 200px;
    height: auto;
}

.start-button a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #689CD2;
    color: white;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.start-button a:hover {
    background-color: #25507e;
}

.start-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /*height: 100vh;*/
    margin: 0 auto auto auto;
}

.sidebar-form {
    padding: 20px;
    background: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.start-adv-field {
    width: 48%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.start-adv-field select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(100% - 22px);
}

.start-adv-field label {
    margin-bottom: 5px;
    font-weight: bold;
}

.start-adv-field input[type="text"],
.start-adv-field input[type="number"] {
    margin-top: 7px;
    height: 40px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(100% - 22px);
}

.start-adv-field input[type="submit"] {
    margin-top: 24px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #689CD2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.start-adv-field input[type="submit"]:hover {
    background-color: #25507e;
}


/*Кнопка сохранения изменений при редактировании объявлений*/
.edit-advertisement {
    width: 100%;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #689CD2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.edit-advertisement button:hover {
    background-color: #25507e;
}


.delete-button {
    float: right;
    margin-left: 10px;
    display: inline-block;
    margin-right: 10px;
}

.delete-button a {
    text-decoration: none;
    padding: 10px 20px;
    background-color: #689CD2;
    color: #fff;
    border-radius: 5px;
    border: 1px solid #689CD2;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.delete-button a:hover {
    background-color: #fff;
    color: #689CD2;
}


.delete-advertisement-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FF0000;
    color: #FFFFFF;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

.cancel-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #808080;
    color: #FFFFFF;
    text-decoration: none;
    border: none;
    border-radius: 5px;
}


.error-message {
    color: red;
    font-weight: bold;
    margin-bottom: 10px;
}

.success-message {
    color: green;
    font-weight: bold;
    margin-bottom: 10px;
}

.button-group {
    display: flex;
}


.image-container {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}


.car-photo {
    max-width: 25%;
    height: auto;
}

.delete-button {
    flex-shrink: 0;
}

.delete-button a {
    display: block;
    text-align: left;
    background-color: #689CD2;
    color: white;
    padding: 5px;
    text-decoration: none;
    border-radius: 5px;
}
